<!DOCTYPE html>
<html>
<head>
    <meta charset="{{ _charset }}" />
    <title>404</title>
</head>
<body>
<h1>404</h1>
<h2>Le serveur retourne :  "{{ status_code }} {{ status_text }}".</h2>

<div>
    aaaaaaaaaaaaaahhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
</div>
</body>
</html>
