
{% extends 'base.html.twig' %}

{% block body %}

<div id="wrapper">

    <div id="container">

        <h1>Contact</h1>

        <p>Prénom : {{ firstName }}</p>
        <p>Nom : {{ lastName }}</p>
        <p>age : {{ age }}</p>

        <fieldset>
            <legend> Liens </legend>

            <a href="{{ path('homepage') }}"> accueil </a>

        </fieldset>

        <br><br>

    </div>
</div>



{% endblock %}
