{% extends 'layoutPublic.html.twig' %}

{% block stylesheets %}

    <!-- Custom CSS -->
    <link href="{{ asset('public/shop/css/shop-homepage.css') }}" rel="stylesheet">


{% endblock %}




{% block body %}



    <h1>Profil</h1>


{% endblock %}

