{% extends 'layoutPublic.html.twig' %}

{% block stylesheets %}

    <!-- Custom CSS -->
    <link href="{{ asset('public/shop/css/shop-homepage.css') }}" rel="stylesheet">


{% endblock %}




{% block body %}


                <div class="row carousel-holder">


                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">


                            {{ images_caroussel()|raw }}

                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>

                    </div>

                </div>

                <div class="row">

                    {{ liste_produits()|raw }}

                </div>



        {% endblock %}

